@font-face {
    font-family: "Vazir";
    src: url("../../../assets/fonts/vazir/Vazir.eot");
    src: url("../../../assets/fonts/vazir/Vazir.eot?#iefix") format("Vazir-opentype"),
      url("../../../assets/fonts/vazir/Vazir.woff") format("woff"),
      url("./../../assets/fonts/vazir/Vazir.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  