@font-face {
  font-family: "Vazir";
  src: url("./assets/fonts/vazir/Vazir.eot");
  src: url("./assets/fonts/vazir/Vazir.eot?#iefix") format("Vazir-opentype"),
    url("./assets/fonts/vazir/Vazir.woff") format("woff"),
    url("./assets/fonts/vazir/Vazir.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vazir";
}

:root {
  --color-one: #600f0f;
  --color-two: #b8390e;
  --color-three: rgb(34, 34, 34);
  --color-four: rgb(116, 111, 111);
  --color-five: linear-gradient(
    55deg,
    var(--color-two) 0%,
    var(--color-one) 80%
  );
  --color-sex: rgb(61, 61, 61);
  --color-seven: linear-gradient(
    55deg,
    var(--color-one) 10%,
    var(--color-two) 80%
  );
  --color-eight: rgb(61, 35, 35);
  --color-nine: rgb(87, 84, 84);
  --color-ten: white;
  --color-eleven: rgb(58, 113, 58);
  --color-twelve: rgb(120, 57, 57);
  --input-focus: 1px 1px 10px var(var(--color-two));
  --color-thirth: rgb(93, 93, 93);
}

body {
  background-color: var(--color-three);
}

/* Modals */
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 150ms ease-in;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  height: 100vh;
}

.ReactModal__Overlay--after-close {
  opacity: 0;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  background-image: var(--color-five);
  padding: 1.6rem;
  position: relative;
}

.modal-close-btn {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 10rem;
  text-align: center;
  padding-top: 0.2rem;
}

.modal-close-btn:hover {
  background-color: rgba(167, 167, 167, 0.4);
}

/* icons */

.fa-solid {
  color: var(--color-four);
}

.fa-cart-arrow-down {
  font-size: 2.2rem;
}

.fa-building {
  font-size: 2.2rem;
}

.fa-store {
  font-size: 2.2rem;
}
.fa-feather {
  font-size: 2.2rem;
}
.fa-tablets {
  font-size: 2.2rem;
}

.fa-cannabis {
  font-size: 2.2rem;
}

.fa-prescription-bottle-medical {
  font-size: 2.2rem;
}

.fa-earth-asia {
  font-size: 2.2rem;
}

.fa-searchengin {
  color: var(--color-three);
  font-size: 1rem;
  width: 100%;
  height: 100%;
}

.fa-xmark {
  color: var(--color-three);
  font-size: 1rem;
  width: 100%;
  height: 100%;
}

.fa-trash {
  color: rgb(75, 45, 45);
  font-size: 1rem;
}

.fa-marker {
  color: rgb(72, 161, 72);
  font-size: 1rem;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.view-port {
  height: 100vh;
  width: 100%;
}

/* Page Component */
.pagecomponent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  position: fixed;
  top: 0rem;
  height: 100%;
}

.pagecomponent-box {
  position: absolute;
  width: 85%;
  top: 8%;
  height: 92%;
  background: var(--color-sex);
  overflow: hidden;
}

/* Header */

.header {
  width: 85%;
  background-color: var(--color-three);
  height: 8%;
}

.header-elements {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search-input-box {
  margin-right: 4rem;
  margin-top: 0.3rem;
  border-radius: 5rem;
  width: 15rem;
  border: none;
  padding-left: 0.7rem;
  height: 1.5rem;
  background-color: rgb(25, 25, 25);
  flex-shrink: 0;
}
.search-input {
  border-radius: 5rem;
  width: 85%;
  border: none;
  padding-left: 0.7rem;
  height: 1.5rem;
  background-color: rgb(25, 25, 25);
  flex-shrink: 0;
  color: rgb(79, 79, 79);
}

.log-in-text {
  color: var(--color-four);
}

.icons {
  display: flex;
  height: 3rem;
  flex-shrink: 0;
  align-items: center;
  gap: 0.3rem;
  padding-left: 2rem;
}

.icons > i {
  width: 2rem;
  text-align: center;
  height: 2rem;
  padding: 0.43rem;
  border-radius: 0.8rem;
  box-shadow: 0px 0px 3px var(--color-two);
}

.log-in {
  width: 6.2rem;
  height: 2rem;
  border-radius: 0.8rem;
  display: flex;
  padding: 0.43rem;
  padding-left: 0.6rem;
  justify-content: left;
  box-shadow: 0px 0px 3px var(--color-two);
}
.log-in > i {
  width: 1.5rem;
  height: 2rem;
  padding-left: 0rem;
  padding-right: 0rem;
}

.log-in:hover {
  background-image: var(--color-five);
  cursor: pointer;
}

.icons > i:hover {
  background-image: var(--color-five);
  cursor: pointer;
}

.flex-item {
  width: 45%;
}

/* Navbar */

.navbar {
  width: 15%;
  background-color: var(--color-three);
  box-shadow: 10px 10px 10px var(--color-three);
  flex-shrink: 0;
  height: 100vh;
}

.navbar-elements {
  width: 100%;
}

.colorfull-image {
  width: 100%;
}

.profile {
  text-align: center;
}

.profile-image {
  width: 3rem;
  height: 3rem;
  border-radius: 10rem;
  box-shadow: 1px 1px 10px var(--color-two);
}

.profile-text {
  margin-top: 0.5rem;
  color: var(--color-four);
  font-size: larger;
  padding-bottom: 1rem;
  box-shadow: 1px 1px 1px var(--color-two);
}

.profile-text > h6 {
  color: var(--color-two);
}

.navbar-buttons {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.button {
  text-decoration: none;
  height: 3rem;
  text-align: center;
  padding-top: 0.75rem;
  width: 100%;
  border-bottom: 1px solid rgb(51, 51, 51);
  color: var(--color-four);
}

.button:hover {
  background-image: var(--color-five);
  color: rgb(25, 25, 25);
}

/* Purchase */

.purchase {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.purchase-box {
  display: flex;
  flex-direction: row-reverse;
  width: 98.6%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-three);
  border-radius: 1rem;
  padding: 1rem;
  height: 20%;
  color: var(--color-four);
  gap: 1rem;
  justify-content: space-evenly;
}

.purchase-form {
  background-color: var(--color-three);
  width: 98.6%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  height: 77%;
}

.purchase-card {
  display: flex;
  flex-direction: row;
  width: 30%;
  background-color: var(--color-eight);
  height: 100%;
  border-radius: 1rem;
  padding: 2rem;
  font-size: 1.2rem;
  text-align: right;
  justify-content: space-around;
  align-items: center;
}

.purchase-card:hover {
  box-shadow: 1px 1px 10px var(--color-two);
  background-image: var(--color-five);
  color: var(--color-three);
  cursor: pointer;
}

/* Entrance */

.entrance-box {
  width: 100%;
  height: 100%;
  padding: 0.2rem;
  background-color: var(--color-three);
  gap: 0.2rem;
  display: grid;
  grid-template-columns: 20% 79.7%;
  grid-template-rows: 30% 30% 29%;
}

input[type="text"]:disabled {
  background-color: rgba(109, 109, 109, 0.476);
}
input[type="date"]:disabled {
  background-color: rgba(109, 109, 109, 0.476);
}

.entrance-buttons {
  display: flex;
  justify-content: left;
  gap: 0.3rem;
}
.entrance-buttons > input[type="submit"] {
  height: 1.5rem;
  border-radius: 1rem;
  width: 7rem;
  text-align: center;
  border: none;
  background-color: var(--color-thirth);
  color: var(--color-ten);
}
.entrance-buttons > input[type="reset"] {
  height: 1.5rem;
  border-radius: 1rem;
  width: 6rem;
  text-align: center;
  grid-area: 5/6/5/7;
  border: none;
  background-color: var(--color-eight);
  color: var(--color-ten);
  padding-left: 0.5rem;
  padding-right: 0.7rem;
}

.entrance-buttons > input[type="submit"]:hover {
  background-color: var(--color-eleven);
}

.entrance-buttons > input[type="reset"]:hover {
  background-color: var(--color-twelve);
}

.entrance-report {
  background-color: var(--color-sex);
  border-radius: 1rem;
  grid-area: 1 / 1 / 3 / 2;
}
.entrance-entrance {
  background-color: var(--color-sex);
  border-radius: 1rem;
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-columns: 0.31fr 0.9fr 0.3fr 0.9fr 0.3fr 0.9fr;
  grid-template-rows: 15% 15% 15% 15% 15%;
  gap: 0.7rem;
  padding: 1rem;
  text-align: left;
  font-size: 0.9rem;
  direction: rtl;
}

.entrance-entrance > select {
  height: 1.47rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--color-three);
  color: var(--color-ten);
  padding-left: 0.5rem;
  padding-right: 0.7rem;
}

.entrance-entrance > input {
  height: 1.47rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--color-three);
  color: var(--color-ten);
  padding-left: 0.5rem;
  padding-right: 0.7rem;
}

.entrance-entrance > input:focus {
  box-shadow: -4px -4px 4px var(--color-two);
}
.entrance-entrance > select:focus {
  box-shadow: -4px -4px 4px var(--color-two);
}
.entrance-entrance > textarea:focus {
  box-shadow: -4px -4px 4px var(--color-two);
}

.sc-hLseeU > input:focus {
  box-shadow: -4px -4px 4px var(--color-two);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.sc-gueYoa > div {
  display: none;
}
.entrance-entrance > input[type="submit"] {
  height: 1.5rem;
  border-radius: 1rem;
  width: 7rem;
  text-align: center;
  grid-area: 5/6/5/7;
  border: none;
  background-color: var(--color-three);
  color: var(--color-ten);
  padding-left: 0.5rem;
  padding-right: 0.7rem;
  margin-right: auto;
}
.entrance-entrance > input[type="reset"] {
  height: 1.5rem;
  border-radius: 1rem;
  width: 6rem;
  text-align: center;
  grid-area: 5/6/5/7;
  border: none;
  background-color: var(--color-one);
  color: var(--color-ten);
  padding-left: 0.5rem;
  padding-right: 0.7rem;
}
.entrance-entrance > input[type="submit"]:hover {
  background-color: var(--color-eleven);
}
.entrance-entrance > input[type="reset"]:hover {
  background-color: var(--color-twelve);
}

.checkbox-input {
  width: 1rem;
  margin-right: 0.3rem;
}

.entrance-entrance > textarea {
  height: 1.5rem;
  grid-area: 5/5/5/2;
  border-radius: 1rem;
  border: none;
  background-color: var(--color-three);
  color: var(--color-ten);
  padding: 0.4rem;
  resize: none;
  font-size: 0.9rem;
}

.entrance-through {
  background-color: var(--color-sex);
  border-radius: 1rem;
  grid-area: 2 / 2 / 3 / 3;
  background-color: var(--color-sex);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 0fr 0.9fr 0.3fr 1fr 0.2fr 1fr;
  grid-template-rows: 15% 15% 15% 15% 15%;
  gap: 0.7rem;
  padding: 1rem;
  justify-content: space-around;
  direction: rtl;
  font-size: 0.9rem;
  text-align: left;
}

.entrance-through > select {
  height: 1.47rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--color-three);
  color: var(--color-ten);
  padding-left: 0.5rem;
  padding-right: 0.7rem;
}
.entrance-through > input:focus {
  box-shadow: -4px -4px 4px var(--color-two);
}
.entrance-through > select:focus {
  box-shadow: -4px -4px 4px var(--color-two);
}
.entrance-through > textarea:focus {
  box-shadow: -4px -4px 4px var(--color-two);
}

.entrance-through > input {
  height: 1.47rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--color-three);
  color: var(--color-ten);
  padding-left: 0.5rem;
  padding-right: 0.7rem;
}
.entrance-through > input[type="submit"] {
  height: 1.5rem;
  border-radius: 1rem;
  width: 7rem;
  text-align: center;
  grid-area: 5/6/5/7;
  border: none;
  background-color: rgb(62, 81, 62);
  color: var(--color-ten);
  padding-left: 0.5rem;
  padding-right: 0.7rem;
  margin-right: auto;
}
.entrance-through > input[type="submit"]:hover {
  background-color: var(--color-eleven);
}

.entrance-through > textarea {
  grid-area: 4/2/4/7;
  border-radius: 1rem;
  border: none;
  background-color: var(--color-three);
  color: var(--color-ten);
  padding: 0.4rem;
  resize: none;
}

.entrance-through-medician-input {
  grid-area: 1/2/2/7;
}

.entrance-medician {
  background-color: var(--color-sex);
  border-radius: 1rem;
  grid-area: 3 / 1 / 4 / 3;
}

.entrance-medician-header {
  background-color: var(--color-two);
  border-radius: 1rem 1rem 0rem 0rem;
  width: 100%;
  padding: 0.1rem;
  padding-right: 1rem;
  display: grid;
  grid-template-columns: 0.1fr 0.5fr 3.6fr 0.9fr 0.9fr 0.9fr 0.9fr 0.9fr 1.7fr 0.9fr 0.9fr 0.9fr 0.9fr 0.5fr;
  font-size: 0.9rem;
  direction: rtl;
}

.entrance-map {
  overflow-y: scroll;
  height: 85%;
}

.entrance-medician-map {
  background-color: var(--color-four);
  border-bottom: 1px solid black;
  font-size: 0.9rem;
  width: 100%;
  padding: 0.1rem;
  padding-right: 1rem;
  display: grid;
  grid-template-columns: 0.4fr 3.6fr 0.9fr 0.9fr 0.9fr 0.9fr 0.9fr 1.7fr 0.9fr 0.9fr 0.9fr 0.9fr 0.5fr;
  direction: rtl;
  justify-content: space-between;
}

.entrance-medician-map-name {
  font-size: 0.8rem;
  padding-top: 0.1rem;
  direction: rtl;
  text-align: right;
  display: flex;
}

.medician-select-information {
  display: flex;
}

.entrance-medician-map-box {
  display: flex;
  direction: rtl;
}

.entrance-medician-map-box > h4 {
  margin-left: 1rem;
}

.entrance-medician-map > input {
  width: 70%;
  background-color: var(--color-four);
  border: none;
}
.entrance-medician-map > input[type="submit"] {
  width: 70%;
  background-color: var(--color-eleven);
  color: white;
  border-radius: 1rem;
  padding: 0.2rem;
  font-size: smaller;
  border: none;
}

.entrance-medician-map > input[type="submit"]:hover {
  background-color: var(--color-twelve);
}

.loading {
  width: 100%;
  height: 2rem;
  text-align: right;
  justify-content: right;
}

.medician-format {
  height: 9.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 100%;
  text-align: left;
  justify-content: start;
  direction: ltr;
  gap: 0.1rem;
  padding: 0.2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid grey;
}

.medician-text-field {
  height: 9.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0.2rem;
  padding-left: 2rem;
  font-size: 1rem;
  width: 50%;
}

.medician-text-field-numbers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.medician-text-field-numbers > h4 {
  direction: rtl;
}
.medician-image {
  width: 9rem;
  height: 9rem;
  border-radius: 0.5rem;
}

.medician-map-buttons {
  display: flex;
  gap: 0.2rem;
}

.medician-map-buttons > div {
  width: 1.7rem;
  height: 1.7rem;
  background-color: var(--color-nine);
  text-align: center;
  padding-top: 0.3rem;
  border-radius: 0.4rem;
}
.medician-map-buttons > div:hover {
  background-color: var(--color-sex);
}

.none {
  display: none;
}

.flex {
  display: flex;
  gap: 1rem;
}
.flex > input {
  width: 50%;
  height: 1.47rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--color-three);
  color: var(--color-ten);
  padding-left: 0.5rem;
  padding-right: 0.7rem;
}

.search-button-box {
  background-color: var(--color-four);
  width: 2.2rem;
  height: 1.5rem;
  border-radius: 2rem;
  text-align: center;
  padding-top: 0.2rem;
}
.search-button-box:hover {
  background-color: var(--color-twelve);
}
.search-form {
  display: flex;
  gap: 1rem;
}
.search-form > input {
  width: 50%;
  height: 1.47rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--color-three);
  color: var(--color-ten);
  padding-left: 0.5rem;
  padding-right: 0.7rem;
}

/* Entrance Report */

.entrance-report-header {
  width: 100%;
  height: 2.3rem;
  background-image: var(--color-five);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  text-align: right;
  padding-right: 1.3rem;
  padding-top: 0.4rem;
}

.entrance-report-body {
  width: 100%;
  height: 100%;
  background-color: var(--color-seven);
  direction: rtl;
}

.entrance-report-map-box {
  width: 100%;
  height: 2rem;
  background-color: var(--color-thirth);
  padding: 0.3rem;
  border-bottom: 1px solid var(--color-one);
  font-size: medium;
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
  padding-left: 1rem;
}

.serahcer {
  width: 15rem;
  background-color: #600f0f;
  border: none;
}

.serahcer option {
  background-color: #b8390e;
  padding: 10rem 10rem 10rem 10rem;
}

.serahcer:checked {
  height: 10rem;
}

.select-medician {
  background-color: var(--color-three);
  padding: 0rem 1rem 0rem 1rem;
  border-radius: 1rem;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 1.5rem;
}

.select-medician-button {
  background-color: var(--color-nine);
  width: 11.5rem;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  left: 1rem;
  cursor: pointer;
}

.select-medician-button:hover {
  background-image: var(--color-five);
}

.medician-select-input-box {
  padding: 0.5rem;
}

.selected-medician-show {
  direction: ltr;
  display: flex;
}

.loading-medician {
  padding-left: 80%;
  height: 1rem;
}

/* Company */

.company {
  width: 100%;
  height: 100%;
}

.company-form {
  width: 98%;
  text-align: left;
  height: 75%;
  background-color: var(--color-sex);
  margin: 0.6rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr 1fr;
  grid-template-rows: repeat(9, 1fr);
  direction: rtl;
  padding: 1rem;
  padding-top: 2rem;
  padding-right: 2rem;
  gap: 0.7rem;
}

.company-form > input {
  height: 1.7rem;
  border: none;
  background-color: var(--color-three);
  border-radius: 1rem;
  padding-right: 1rem;
  position: relative;
  margin-left: 9rem;
  font-size: large;
  color: white;
  font-weight: bold;
}
.company-form > input:focus {
  box-shadow: -4px -4px 4px var(--color-two);
}

.compaines-input {
  grid-area: 5 / 2 / 5 / 5;
}

.company-form-description {
  grid-area: 8 / 2 / 10 / 5;
  height: 5rem !important;
}

.company-form > textarea {
  resize: none;
  border: none;
  grid-area: 8 / 2 / 9 / 5;
  border-radius: 1rem;
  background-color: var(--color-three);
  padding: 1rem;
  color: white;
  margin-left: 9rem;
}
.company-form > textarea:focus {
  box-shadow: -4px -4px 4px var(--color-two);
}

.company-submit {
  width: 98%;
  height: 10%;
  margin: 0.6rem;
  border-radius: 1rem;
  background-color: var(--color-nine);
  direction: rtl;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
}

.company-submit > input {
  border-radius: 1rem;
  border: none;
  width: 10%;
  height: 90%;
  background-color: #b8390e;
  color: white;
}

.company-submit > input:hover {
  background-image: var(--color-five);
}

.plus-box {
  position: relative;
  z-index: 2;
  width: 1.3rem;
  margin-bottom: 3rem;
}

.plus {
  width: 1.3rem;
  text-align: center;
  border-radius: 1rem;
  height: 1.3rem;
}
.plus:hover {
  box-shadow: 1px 1px 10px var(--color-two);
}

.store {
  width: 100%;
  height: 100%;
}

.store-form {
  width: 95%;
  height: 75%;
  background-color: var(--color-sex);
  margin: 0.6rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  direction: rtl;
  padding: 1rem;
  gap: 0.7rem;
  text-align: left;
}

.store-form > input[type="text"] {
  height: 1.7rem;
  border: none;
  background-color: var(--color-three);
  border-radius: 1rem;
  padding-right: 1rem;
  font-size: large;
  color: white;
  font-weight: bold;
}

.store-form > input[type="text"]:focus {
  box-shadow: -4px -4px 4px var(--color-two);
}

.store-submit {
  width: 96%;
  height: 10%;
  margin: 0.6rem;
  border-radius: 1rem;
  background-color: var(--color-nine);
  direction: rtl;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
}
.store-submit > input {
  border-radius: 1rem;
  border: none;
  width: 20%;
  height: 95%;
  background-color: #b8390e;
  color: white;
}
.store-submit > input:hover {
  background-image: var(--color-five);
}

.store-form > textarea {
  resize: none;
  border: none;
  border-radius: 1rem;
  background-color: var(--color-three);
  padding: 1rem;
  color: white;
}
.store-form > textarea:focus {
  box-shadow: -4px -4px 4px var(--color-two);
}


.hQCTOB > input {
  margin-right: 1.6rem;
}
.sc-fsQiph > input {
  margin-right: 1.6rem;
  border-radius: 1rem;
}
.sc-fsQiph > input:focus {
  box-shadow: -4px -4px 4px var(--color-two);
  margin-right: 1.6rem;
  border-radius: 1rem;
}

.medician-inter {
  width: 100%;
  height: 100%;
}

.medician-select-plus {
  margin-left: auto;

}

.medician-inter-form {
  height: 77%;
  width: 99%;
  margin: 0.4rem;
  background-color: var(--color-sex);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 0.2fr 0.8fr 0.2fr 0.8fr 0.25fr 0.8fr;
  grid-template-rows: 10% 10% 10% 10% 10% 25% 25%;
  direction: rtl;
  padding: 1rem;
  text-align: left;
  column-gap: 0.6rem;
}

.medician-inter-form > input[type="text"] {
  margin-left: 0.6rem;
  height: 1.7rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--color-three);
  position: relative;
  top: -0.2rem;
  padding: 0.4rem;
  padding-right: 1rem;
  font-size: large;
  color: white;
}
.medician-inter-form > input[type="text"]:focus {
  box-shadow: -4px -4px 4px var(--color-two);
}

.medician-inter-form > textarea {
  resize: none;
  border: none;
  margin-left: 0.6rem;
  background-color: var(--color-three);
  border-radius: 1rem;
  padding: 0.6rem;
  color: var(--color-ten);
  margin-top: 0.2rem;
}

.medician-inter-submit {
  height: 8.5%;
  background-color: var(--color-sex);
  border-radius: 1rem;
  width: 99%;
  margin: 0.4rem;
}

.generic-input {
  display: grid;
  grid-area: 5 / 2 / 5 / 5;
}

.must-advised-input {
  height: 1.3rem;
  position: relative;
  left: 40%;
  position: relative;
  top: 2%;
}

.medician-image-field {
  width: 100%;
  height: 30%;
}

.medician-inter-submit {
  width: 99%;
  height: 10%;
  margin: 0.3rem;
  border-radius: 1rem;
  background-color: var(--color-nine);
  direction: rtl;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
}
.medician-inter-submit > input {
  border-radius: 1rem;
  border: none;
  width: 10%;
  height: 100%;
  background-color: var(--color-two);
  color: white;
}
.medician-inter-submit > input:hover {
  background-image: var(--color-five);
  cursor: pointer;
}
