* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


:root {
    --color-one: #790000;
    --color-two: #be3500;
    --color-three: rgb(34, 34, 34);
    --color-four: rgb(0, 0, 0);
    --color-five: linear-gradient(55deg, var(--color-two) 0%, var(--color-one) 80%)
}

body {
    background-color: var(--color-four);
}

.fa-solid {
    color: var(--color-four);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Page Component */
.pagecomponent {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    position: fixed;
    top: 0rem;
}

.pagecomponent-box{
    position: absolute;
    width: 85%;
    top: 4rem;
    height: 100rem;
    z-index: -1;
    background: var(--color-two);
    background: linear-gradient(55deg, var(--color-two) 0%, var(--color-one) 80%);
}

/* Header */

.header{
    width: 85%;
    background-color: var(--color-three);
    height: 4rem;
    z-index: 1;
}

.header-elements {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search-input-box{
    margin-right: 4rem;
    margin-top: 0.3rem;
    border-radius: 5rem;
    width: 15rem;
    border: none;
    padding-left: 0.7rem;
    height: 1.5rem;
    background-color: rgb(25, 25, 25);
    flex-shrink: 0;
}
.search-input {
    border-radius: 5rem;
    width: 85%;
    border: none;
    padding-left: 0.7rem;
    height: 1.5rem;
    background-color: rgb(25, 25, 25);
    flex-shrink: 0;
    color:rgb(79, 79, 79)
}




.icons {
    display: flex;
    height: 3rem;
    flex-shrink: 0;
    align-items: center;
    gap: 0.3rem;
    padding-left: 2rem;
}

.icons > i {
    width: 2rem;
    text-align: center;
    height: 2rem;
    padding: 0.43rem;
    border-radius: 0.8rem;
    box-shadow: 0px 0px 3px var(--color-two);
}

.log-in {
    width: 6.2rem;
    height: 2rem;
    border-radius: 0.8rem;
    display: flex;
    padding: 0.43rem;
    padding-left: 0.6rem;
    justify-content: left;
    box-shadow: 0px 0px 3px var(--color-two);
}
.log-in > i {
    width: 1.5rem;
    height: 2rem;
    padding-left: 0rem;
    padding-right: 0rem;
}

.log-in:hover {
    background-image: var(--color-five);
    cursor: pointer;
}

.icons > i:hover {
    background-image: var(--color-five);
    cursor: pointer;
}

.flex-item{
    width: 45%;
}


/* Navbar */

.navbar {
    width: 15%;
    background-color: var(--color-three);
    box-shadow: 10px 10px 10px var(--color-three);
    flex-shrink: 0;
    height: 100vh;
    
}

.navbar-elements { 
    width: 100%;  
}

.colorfull-image{
    width: 100%;
}

.profile{
    text-align: center;
}

.profile-image{
    width: 3rem;
    height: 3rem;
    border-radius: 10rem;
    box-shadow: 1px 1px 10px var(--color-two);
}

.profile-text {
    margin-top: 0.5rem;
    color: var(--color-five);
    font-size: larger;
}

.profile-text > h6 {
    color:var(--color-two)
}

/* Layout */
.layout {
}
