.color-pallete-green {
    background-image: linear-gradient(
      90deg,
      #7FB3D5 0%,  #7FB3D5 20%,
      #6296b7 20% ,#6296b7 40%, 
      #5c5c5c 40% , #5c5c5c 60%,
      #ebebd2 60% , #ebebd2 80%,
      #c2c2aa 80%,  #c2c2aa 100%
    );
    width: 90%;
    height: 2rem;
    border-radius: 0.5rem;
  }
  
  .color-pallete-red {
    background-image: linear-gradient(
      90deg,
      #596E79 0%,  #596E79 20%,
      #4d425f 20% ,#4d425f 40%, 
      #F0ECE3 40% , #F0ECE3 60%,
      #C7B198 60% , #C7B198 80%,
      #788e98 80%,  #788e98 100%
    );
    width: 90%;
    height: 2rem;
    border-radius: 0.5rem;
  }
    
  
  .color-pallete-purple {
    background-image: linear-gradient(
      90deg,
      #6c35de 0%,  #6c35de 20%,
      #a364ff 20% ,#a364ff 40%, 
      #ffc7ff 40% , #ffc7ff 60%,
      #6e28a0 60% , #6e28a0 80%,
      #4d425f 80%,  #4d425f 100%
    );
    width: 90%;
    height: 2rem;
    border-radius: 0.5rem;
  }
  
  .color-pallete-blue {
    background-image: linear-gradient(
      90deg,
      #B0C5D1 0%,  #B0C5D1 20%,
      #D1B0C5 20% ,#D1B0C5 40%, 
      #4D4D4D 40% , #4D4D4D 60%,
      #E6F2EA 60% , #E6F2EA 80%,
      #b4bfb8 80%,  #b4bfb8 100%
    );
    width: 90%;
    height: 2rem;
    border-radius: 0.5rem;
  }
  
  .color-pallete-yellow {
    background-image: linear-gradient(
      90deg,
      #00A896 0%,  #00A896 20%,
      #008b7a 20% ,#008b7a 40%, 
      #09554c 40% , #09554c 60%,
      #5c5c5c 60% , #5c5c5c 80%,
      #e8e5df 80%,  #e8e5df 100%
    );
    width: 90%;
    height: 2rem;
    border-radius: 0.5rem;
  }
  .color-pallete-cyan {
    background-image: linear-gradient(
      90deg,
      #0085ff 0%,  #0085ff 20%,
      #69b4ff 20% ,#69b4ff 40%, 
      #e0ffff 40% , #e0ffff 60%,
      #9e9e9e 60% , #9e9e9e 80%,
      #006fff 80%,  #006fff 100%
    );
    width: 90%;
    height: 2rem;
    border-radius: 0.5rem;
  }

  